<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Restaurant Rating System</title>
        <link rel="icon" type="image/png" sizes="32x32" href="../../public/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../../public/images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../public/images/favicon-16x16.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Monstserrat|Mukta&amp;display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li class="private"><a href="/users/profile" id="profile">Profile</a></li>
            <li><a href="/users/login" id="auth">Login</a></li>
        </nav>
        {{{ body }}}
    </body>
    <script src="/public/javascript/session.js"></script>
</html>