<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant Rating System</title>
        <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Monstserrat|Mukta&amp;display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li class="private"><a href="/users/profile" id="profile">Profile</a></li>
            <li><a href="/users/login" id="auth">Login</a></li>
        </nav>
        {{{ body }}}
    </body>
    <script src="/public/javascript/session.js"></script>
</html>