<main>
    <br>
    <div>
        <form if="edit-review" action="/reviews/{{reviewId}}/edit" method="post">
            <label for="rating">Rating
                <input type="number" id="rating" name="rating" value={{rating}}>
            </label>
            <br>
            <label for="reviewText">Review Text
                <input type="text" id="reviewText" name="reviewText" value={{reviewText}}>
            </label>
            <button type="submit">Confirm</button>
        </form>
    </div>
    <div>
        {{#if hasError}}
            <ul class="error">
                {{#each error}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
</main>