<div class="card-center">
    <h3>Edit Restaurant</h3>
    <form method="POST" action="/restaurants/edit/">
        <input type="text" name="_id" value={{id}} readonly />
        <input type="text" name="name" placeholder="Restaurant Name" />
        <input type="text" name="website" placeholder="Restaurant Website" />
        <input type="text" name="category" placeholder="Restaurant Category" />
        <input type="text" name="address" placeholder="Restaurant Address" />
        <input type="text" name="city" placeholder="Restaurant City" />
        <input type="text" name="state" placeholder="Restaurant State" />
        <input type="text" name="zip" placeholder="Restaurant Zip Code" />
        <input type="text" name="longitude" placeholder="Restaurant Longitude" />
        <input type="text" name="latitude" placeholder="Restaurant Latitude" />
        <input type="submit" value="Edit Restaurant" />
    </form>
</div>