<main>
    <h1>Welcome!</h1>
    <p>You have arrived at our project for CS546WS.</p>
    <form id="search-form" method="POST" action="/restaurants/search">
        <input id="search-bar" type="text" name="search" placeholder="Enter Search Keyword" />
        <input type="submit" value="Search" />
    </form>
</main>