<main>
    <div class="search-card-center">
        <h1>Welcome!</h1>
        <p>Discover the best food and drinks in the Mile Square.</p>
        <label for="search-bar">
            <form id="search-form" method="POST" action="/restaurants/search">
                <input id="search-bar" type="text" name="search" class = "searchFields" placeholder="Search for a restaurant or cuisine" />
                <input type="submit" class = "btn" value="Search" />
            </form>
        </label>
        
    </div>
</main>