<main>
    <header>
        <h3>Welcome!</h3>
    </header>
    <p>You have arrived at our project for CS546-WS.</p>
    <br>
    <h3>TO DO:</h3>
    <p>Finish nav bar, HTML for other pages, ensure CSS is looking good</p>
</main>