<main>
    <h1>Login</h1>
    <div class="login">
        <form method="POST" action="/users/login">
            <label>Username: 
                <input name="username" type="text" />
            </label><br/>
            <label>Password :
                <input name="password" type="password" />
            </label><br/><br/>
            <input class="btn" type="submit" value="Login" />
        </form>
    </div>
</main>