<div class="card-center">
    <h3>Add Restaurant as Owner</h3>
    <form class="form-container" method="POST" action="/restaurants/add">
        <input type="text" name="name" placeholder="Restaurant Name" class="inputFields" />
        <input type="text" name="website" placeholder="Restaurant Website" class="inputFields" />
        <input type="text" name="category" placeholder="Restaurant Category" class="inputFields" />
        <input type="text" name="address" placeholder="Restaurant Address" class="inputFields" />
        <input type="text" name="city" placeholder="Restaurant City" class="inputFields" />
        <input type="text" name="state" placeholder="Restaurant State" class="inputFields" />
        <input type="text" name="zip" placeholder="Restaurant Zip Code" class="inputFields" />
        <input type="text" name="longitude" placeholder="Restaurant Longitude" class="inputFields" />
        <input type="text" name="latitude" placeholder="Restaurant Latitude" class="inputFields" />
        <input type="submit" value="Add Restaurant" class="btn" />
    </form>
</div>
<div class="card-center">
    <h3>Manage Owned Restaurants</h3>
    <p>(Click links to edit)</p>
    {{#each restaurants}}
        <p><a href="/restaurants/edit/{{this._id}}">{{this.name}}</p></a>
    {{/each}}
</div>