<main>
    <h2>{{firstName}} {{lastName}} </h2>
    <img src="{{profilePicture}}">
    <p><a href="/users/myprofile">Edit Profile</p>
    <button type="button" class="submit" onclick="window.location.href='/users/logout'" > Logout </button>
</main>