nav{
    background-color: #E4572E;
    padding: 10px;
    list-style-type: none;
    width: 100%;
    position: fixed;
    top: 0;
}
nav li {
    display: inline;
    padding: 3px;
    margin: 3px;
}

.private{
    display: none;
}

input[type="text"] {
    display: block;
}

input[type="password"] {
    display: block;
}

input[type="submit"] {
    font-family: Cambria;
}

.login_container {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.signup_form {
    background-color: #FFFFFF;
    width: 400px;
    height: 340px;
    margin: 7em auto;
    border-radius: 15px;
    float: right;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    margin-right: 150px;
}

#login_headers {
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}

.login_form {
    background-color: #FFFFFF;
    width: 400px;
    height: 260px;
    margin: 7em auto;
    border-radius: 15px;
    float: left;
    margin-left: 150px;
    /* box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14); */
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.inputFields{
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    width: 75%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
}

.error {
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-left: 20px;
    width: 300px;
    height: 40px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.buttonDiv{
    text-align: center;
}

form.form1 {
    padding-top: 40px;
    text-align: center;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: grey;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 22px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

nav a {
    color:#fafafa;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold; 
    padding: 8px;
}

nav a:hover{
    color: #001514;
}

body{
    margin: 0;
    padding-top: 15px;
    background-color: #001514;
}

main{
    align-items: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #fafafa;
}

.category{
    color:#E4572E;
}

.reviews{
    text-align: left;
}
.reviews h3{
    text-align: left;
}
.reviews p {
    text-align: left;
}
.comments{
    padding-left: 25px;
}

.login{
    text-align: center;
    color:#001514;
}

.btn{
    color: #E4572E;
    background-color: #fafafa;
    border: 2px solid #E4572E;
    padding: 8px;
}
.btn:hover {
    color: #fafafa;
    background-color: #E4572E;
}

h1{
    text-align: center;
    color: #8FC93A;
    font-size: xx-large;
}

h2{
    text-align: center;
    color: #8FC93A;
    font-size: x-large;
}

h3{
    color: #8FC93A;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

h4{
    color: #8FC93A;
    font-size: large;
}

p{
    text-align: center;
    color: #001514;
    font-size: large;
}

a{
    color: #1E96FC;
    text-decoration: none;
}

a:hover{
    color: #E4572E;
}

#search-bar {
    width: 200px;
    margin: 0 auto;
}

#search-form {
    text-align: center;
}