nav{
    background-color: brown;
    color:white;
    padding: 5px;
    margin-bottom: 0;
}
body{
    background-color: indianred;
    margin-left: 10%;
    margin-right: 10%;
}

main{
    background-color: ghostwhite;
    margin-top: 0;
}

header{
    background-color: lightgray;
}

h3{
    color: darkblue;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
}

p{
    font-size: 1.3em;
    text-align: center;
    color: black;
}

a{
    color: yellow;
}

a:visited{
    color: yellow;
}

a:hover{
    color: black;
    background-color:azure;
}